@font-face {
  font-family: neu;
  src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./NeueHaasDisplayRoman.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  /* background-color: #000 */
  position: relative;
  z-index: 10;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
  overflow-x: hidden;
  /* overflow: hidden; */
}

nav {
  padding: 2vw 0vw;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

#nav-part2 h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

#nav-part2 h4:hover a {
  color: #fff;
}

nav h3 {
  display: none;
}

#center {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2.4vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}

#center h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}

#page1 video {
  position: relative;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
}

#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 70vh;
  /* overflow: hidden; */
}

#hero-1 {
  background: linear-gradient(#fe5818, #fe5c19);
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: blur(30px);
  animation: anime1 5s linear infinite alternate;
  -webkit-animation: anime1 5s linear infinite alternate;
  opacity: 0.9;
}

#hero-2 {
  background: linear-gradient(to right, #fe320a, #fe5e1b);
  width: 40vw;
  height: 40vw;
  position: absolute;
  animation: anime2 5s linear infinite alternate;
  animation-delay: 3s;
  filter: blur(25px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: anime2 5s linear infinite alternate;
  -webkit-filter: blur(25px);
}

#hero-3 {
  background: linear-gradient(to right, #fe320a, #fe5e1b);
  width: 40vw;
  height: 40vw;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(35px);
  -webkit-filter: blur(35px);
  animation: anime3 5s linear infinite alternate;
  -webkit-animation: anime3 5s linear infinite alternate;
}

@keyframes anime1 {
  from {
    transform: translate(40%, -10%);
    -webkit-transform: translate(40%, -10%);
    -moz-transform: translate(40%, -10%);
    -ms-transform: translate(40%, -10%);
    -o-transform: translate(40%, -10%);
  }
  to {
    transform: translate(70%, 5%);
    -webkit-transform: translate(70%, 5%);
    -moz-transform: translate(70%, 5%);
    -ms-transform: translate(70%, 5%);
    -o-transform: translate(70%, 5%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(30px, -5%);
    -webkit-transform: translate(30px, -5%);
    -moz-transform: translate(30px, -5%);
    -ms-transform: translate(30px, -5%);
    -o-transform: translate(30px, -5%);
  }
  to {
    transform: translate(40%, 20%);
    -webkit-transform: translate(40%, 20%);
    -moz-transform: translate(40%, 20%);
    -ms-transform: translate(40%, 20%);
    -o-transform: translate(40%, 20%);
  }
}

@keyframes anime3 {
  from {
    transform: translate(5%, -5%);
    -webkit-transform: translate(5%, -5%);
    -moz-transform: translate(5%, -5%);
    -ms-transform: translate(5%, -5%);
    -o-transform: translate(5%, -5%);
  }
  to {
    transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -o-transform: translate(-10%, 10%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}

#moving-text {
  overflow-x: auto;
  white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-text h1 {
  font-size: 9vw;
  /* background-color: lightblue; */
  display: inline-block;
}

#gola {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe320a;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

#page2-bottom {
  height: 80vh;
  width: 100%;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

#page2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}

#bottom-part2 {
  width: 20%;
}

#bottom-part2 img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#bottom-part2 p {
  font-weight: 200;
  margin-top: 2vw;
  font-size: 1vw;
}

#page2 #gooey {
  height: 35vw;
  width: 35vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 58%;
  left: 25%;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  animation: gooey 6s infinite alternate ease-in-out;
  -webkit-animation: gooey 3s infinite alternate ease-in-out;
}

@keyframes gooey {
  from {
    filter: blur(25px);
    transform: translate(10%, -10%) skey(0);
    -webkit-filter: blur(25px);
    -webkit-transform: translate(10%, -10%) skey(0);
    -moz-transform: translate(10%, -10%) skey(0);
    -ms-transform: translate(10%, -10%) skey(0);
    -o-transform: translate(10%, -10%) skey(0);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skewY(-12deg);
    -webkit-filter: blur(30px);
    -webkit-transform: translate(-10%, 10%) skewY(-12deg);
    -moz-transform: translate(-10%, 10%) skewY(-12deg);
    -ms-transform: translate(-10%, 10%) skewY(-12deg);
    -o-transform: translate(-10%, 10%) skewY(-12deg);
  }
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 4vw 0;
}

.elem {
  display: flex;
  height: 150px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #38383864;
  overflow: hidden;
  align-items: center;
  padding: 0 2vw;
}

.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}

.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.25s;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}

.elem:hover .overlay {
  top: 0;
}

#fixed-image {
  height: 30vw;
  width: 24vw;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#page4 {
  height: 70vh;
  width: 100%;
  background-color: #efeae3;
  padding: 10vw 2vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 30%;
  border-left: 1px solid #aeadad;
  padding: 0 2vw;
}

#page5 {
  height: 100vh;
  width: 100%;
}

#footer {
  position: fixed;
  height: 105vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: -9;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;
}

#footer h1 {
  font-size: 23vw;
}

#footer-div {
  height: 20vh;
  width: 100%;
  background-color: red;
}

#footer-bottom {
  border-top: 1px solid #dadada;
  height: 10vh;
  width: 100%;
}

#full-scr {
  height: 100vh;
  width: 100%;
  background-color: #00000070;
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

#full-div1 {
  height: 50%;
  width: 100%;
  background-color: #efeae3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
}

#loader h1 {
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation: load 1s linear;
  -webkit-animation: load 1s linear;
  animation-delay: 1s;
}

#loader h1:nth-child(2){
  animation-delay: 2s;
}

#loader h1:nth-child(3){
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  #page1 {
    min-height: 100vh;
    width: 100vw;
    padding: 0 0vw;
  }

  nav {
    padding: 8vw 5vw;
    background-color: #efeae3;
  }

  nav img {
    height: 9vh;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
  }

  #nav-part2 {
    display: none;
  }

  nav h3 {
    display: block;
    padding: 3vw 5vw;
    font-size: 4vw;
    font-weight: 200;
    padding-left: 10vw;
    border-radius: 50px;
    border: 1px solid #ababab;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }

  #center {
    height: 62vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding: 7vw 5vw;
    padding-bottom: 10vw;
    flex-direction: column-reverse;
    position: relative;
    z-index: 9;
  }

  #left h3 {
    width: 80%;
    font-size: 5.5vw;
    line-height: 6vw;
  }

  #center h1 {
    font-size: 17vw;
    text-align: right;
    line-height: 15vw;
  }

  #page1 video {
    position: relative;
    border-radius: 15px;
    margin-top: 4vw;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    width: 92%;
    margin-left: 4%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
  }

  #moving-text {
    overflow-x: auto;
    white-space: nowrap;
  }

  #moving-text::-webkit-scrollbar {
    display: none;
  }

  .con {
    white-space: nowrap;
    display: inline-block;
    animation: move 10s linear infinite;
    -webkit-animation: move 10s linear infinite;
  }

  #moving-text h1 {
    font-size: 15vw;
    display: inline-block;
  }

  #gola {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fe320a;
    margin: 2vw 2vw;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  #page2-bottom {
    height: 90vh;
    width: 100%;
    padding: 10vw 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    z-index: 9;
  }

  #page2-bottom h1 {
    font-size: 8.2vw;
    width: 100%;
    line-height: 9vw;
  }

  #bottom-part2 {
    width: 70%;
  }

  #bottom-part2 img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  #bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 3vw;
  }

  #page2 #gooey {
    height: 62vw;
    width: 72vw;
    position: absolute;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 58%;
    left: 25%;
    animation: gooey 6s infinite alternate ease-in-out;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -webkit-animation: gooey 6s infinite alternate ease-in-out;
  }

  #loader h1 {
    font-size: 9vw;
  }
}
